/* Global Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  /* pct of user font size*/
  /* font-size: 10px; */
  /* Font Size is 10px/16px = 0.625*/
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
}

.dropdown {
  padding-left: 0;
  list-style-type: none;
  position: relative;
}
.dropbtn::after {
  content: "\f107";
  font-family: "FontAwesome";
  padding-left: 0.75rem;
  color: #f26822;
  font-size: 1.2rem;
}

.dropdown:hover > .dropdown-items {
  display: block;
}
.dropdown-items {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #48454b;
  max-width: 36rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  animation: fade-in 0.8s;
  padding: 0;
  font-size: 1.3rem;
}

.overflow-scroll {
  overflow-y: scroll;
  max-height: 40rem;
}

.dropdown-item {
  padding: 1rem 2rem;
  cursor: pointer;

  /* transition: all 0.75s; */
  /* display: flex; */
  /* align-items: flex-end; */
}

.dropdown-item a {
  display: block;
}
.dropdown-item:hover {
  background-color: #f26822;
}

.dropdown-item:hover > a > .dropdown-item-icon {
  color: #fff;
}

.dropdown-item-icon {
  display: inline-block;
  color: #f26822;
  font-size: 1.5rem;
  padding-right: 1rem;
  height: 2rem;
  width: 2rem;
}

.dropdown-item-text {
  padding-left: 0.5rem;
  display: inline-block;
}

.dropdown-item a {
  text-decoration: none;
  color: #fff;
}

.dropdown-item.dropdown > a > .dropdown-item-text::after {
  content: "\f101";
  font-family: "FontAwesome";
  padding-left: 1rem;
  font-size: 1rem;
  color: #f26822;
}
.dropdown-item.dropdown:hover > a > .dropdown-item-text::after {
  color: #fff;
}
.right-menu {
  position: absolute;
  top: 0%;
  left: 100%;
}

.btn {
  text-decoration: none;
  font-size: 1.4rem;
  color: #fff;
  padding: 1.5rem 2.5rem;
  background-color: #f26822;
  white-space: nowrap;
}

.btn:link,
.btn:visited {
  color: #fff;
}

.btn:hover,
.btn:active {
  color: #c2531b;
}

.banner-headline {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  letter-spacing: 0.9px;
}

.banner-title {
  font-size: 5rem;
  margin-bottom: 2rem;
  font-weight: 700;
  letter-spacing: 1.2px;
}

.banner-description {
  font-size: 2rem;
  letter-spacing: 0.5px;
  margin-bottom: 4.5rem;
}

.btn-full:link,
.btn-full:visited {
  font-size: 1.4rem;
  text-decoration: none;
  color: #fff;
  padding: 1rem 3rem;
  background-color: #f26822;
  border-radius: 2rem;
  transition: background-color 0.75s;
}

.btn-full:hover,
.btn-full:active {
  background-color: #c2531b;
}

.carousel {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.carousel-item {
  height: 80vh;
}

.carousel-item img {
  top: 0;
  left: 0;
  min-height: 80vh;
}

.carousel-caption {
  top: 40%;
  left: 15%;
  text-align: left;
  z-index: 2;
}

.section {
  width: 80%;
  margin: 13rem auto;
}

.section-name {
  color: #f26822;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}

.section-title {
  color: #1a2322;
  font-size: 4rem;
  letter-spacing: -0.1rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.section-title-seperator {
  height: 0.5rem;
  background-color: #f26822;
  width: 15rem;
  margin-bottom: 2rem;
}

.section-description {
  color: #616670;
  font-size: 1.6rem;
  padding-right: 5rem;
}

.section-description p {
  margin-bottom: 2rem;
}

.intro-section {
  display: flex;
}

.intro-section-details {
  flex: 1;
}
