.partnersHeading {
  color: #1a2322;
  font-size: 3.5rem;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
  text-align: center;
  width: 100%;
  font-weight: 700;
}

.partnersHeadingSeperator {
  height: 0.5rem;
  background-color: #f26822;
  width: 15rem;
  margin: 3rem auto;
}
.partnerLogos {
  display: flex;
  gap: 5rem;
  margin: 5rem auto;
  width: 100%;
}

.partnerLogo img {
  width: 15rem;
  height: 4rem;
}
