/* Global Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  /* pct of user font size*/
  /* font-size: 10px; */
  /* Font Size is 10px/16px = 0.625*/
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
}

.company-logo {
  height: 5.5rem;
  width: 14rem;
}

.company-logo-container {
  flex-grow: 1;
}

.btn {
  text-decoration: none;
  font-size: 1.4rem;
  color: #fff;
  padding: 1.5rem 2.5rem;
  background-color: #f26822;
  white-space: nowrap;
}

.btn:link,
.btn:visited {
  color: #fff;
}

.btn:hover,
.btn:active {
  color: #c2531b;
}

.btn-full:link,
.btn-full:visited {
  font-size: 1.4rem;
  text-decoration: none;
  color: #fff;
  padding: 1rem 3rem;
  background-color: #f26822;
  border-radius: 2rem;
  transition: background-color 0.75s;
}

.btn-full:hover,
.btn-full:active {
  background-color: #c2531b;
}

.section {
  width: 80%;
  margin: 8rem auto;
}
