@keyframes from-top {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes from-left {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.from-top {
  animation-name: from-top;
  animation-duration: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.from-left {
  animation-name: from-left;
  animation-duration: 1.5s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.animation-delay-2 {
  animation-delay: 0.2s;
}
.animation-delay-4 {
  animation-delay: 0.4s;
}
.animation-delay-6 {
  animation-delay: 0.6s;
}

.animation-delay-8 {
  animation-delay: 0.8s;
}
