.headers-container {
  margin: 0 auto;
  color: #fff;
  position: relative;
  background-color: #9999;
}

.sub-header-container {
  font-size: 1.3rem;
  border-bottom: 1px solid #fff;
  width: 90%;
  margin: auto;
}

.sub-headers-1 {
  display: flex;
  justify-items: space-between;
  align-items: center;
  gap: 1rem;
}

.sub-headers-2 {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
  padding: 0.5rem 0.8rem;
  border-right: 1px solid #fff;
}

.header-icon {
  color: #f26822;
  padding-right: 0.1rem;
  cursor: pointer;
}

/* .header-icon:hover {
  border-radius: 90%;
  background-color: #999;
  color: #fff;
} */

.main-headers-container {
  display: flex;
  font-size: 1.5rem;
  margin: auto;
  padding: 2rem 0rem;
  justify-content: space-between;
  gap: 5rem;
  width: 90%;
}
.main-headers-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.main-headers-2 {
  display: flex;
  align-items: center;
}
.main-headers {
  display: flex;
  gap: 3rem;
  list-style-type: none;
}
.main-headers .header {
  font-weight: 400;
  white-space: nowrap;
}
.main-headers .header:hover {
  color: #f26822;
  cursor: pointer;
}

.main-headers .header a:hover,
.main-headers .header a:link,
.main-headers .header a:active,
.main-headers .header a:hover {
  color: #f26822;
  cursor: pointer;
  text-decoration: none;
}

.dropdown {
  padding-left: 0;
  list-style-type: none;
  position: relative;
}
.dropbtn::after {
  content: "\f107";
  font-family: "FontAwesome";
  padding-left: 0.75rem;
  color: #f26822;
  font-size: 1.2rem;
}

.dropdown:hover > .dropdown-items {
  display: block;
}
.dropdown-items {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #48454b;
  max-width: 36rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  animation: fade-in 0.8s;
  padding: 0;
  font-size: 1.3rem;
}

.overflow-scroll {
  overflow-y: scroll;
  max-height: 40rem;
}

.dropdown-item {
  padding: 1rem 2rem;
  cursor: pointer;

  /* transition: all 0.75s; */
  /* display: flex; */
  /* align-items: flex-end; */
}

.dropdown-item a {
  display: block;
}
.dropdown-item:hover {
  background-color: #f26822;
}

.dropdown-item:hover > a > .dropdown-item-icon {
  color: #fff;
}

.dropdown-item-icon {
  display: inline-block;
  color: #f26822;
  font-size: 1.5rem;
  padding-right: 1rem;
  height: 2rem;
  width: 2rem;
}

.dropdown-item-text {
  padding-left: 0.5rem;
  display: inline-block;
}

.dropdown-item a {
  text-decoration: none;
  color: #fff;
}

.dropdown-item.dropdown > a > .dropdown-item-text::after {
  content: "\f101";
  font-family: "FontAwesome";
  padding-left: 1rem;
  font-size: 1rem;
  color: #f26822;
}
.dropdown-item:hover > a > .dropdown-item-text {
  color: #fff;
}

.right-menu {
  position: absolute;
  top: 0%;
  left: 100%;
}
