.homeCard {
  display: flex;
  gap: 2rem;
  /* max-width: 100%; */
}

.homeCard .icon {
  font-size: 4rem;
  color: #f26822;
}

.homeCard .title {
  font-size: 3rem;
  color: #1a2322;
  /* letter-spacing: 0.1rem; */
}

.homeCard .description {
  color: #616670;
  font-size: 1.6rem;
  margin-top: 2rem;
}
