.servicesHeading {
  color: #f26822;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
  text-align: center;
  width: 100%;
}

.servicesSubHeading {
  color: #1a2322;
  font-size: 4rem;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
  font-weight: 700;
  letter-spacing: 0;
}
.servicesHeadingSeperator {
  height: 0.5rem;
  background-color: #f26822;
  width: 15rem;
  margin: 1rem auto;
}

.servicesHeadingSubText {
  margin: 0 auto;
  width: 60%;
  text-align: center;
  font-size: 1.5rem;
  color: #1a2322;

  font-style: italic;
}

.serviceCards {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 6rem;
}
