.leaderSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a2322;
  gap: 2rem;
}

.leaderContainerOuter {
  height: 65rem;
  display: flex;
  align-items: center;

  flex: 1;
}

.leaderContainerInner {
  margin-left: 8rem;
}

.leaderSection .title {
  font-size: 4rem;
  color: #fff;
  font-weight: 700;
}

.leaderSection .sub-text {
  font-size: 1.5rem;
  color: #fff;
  font-style: italic;
}

.leaderSection .learnBtn {
  margin-top: 4rem;
}

.leaderSection .happyTeam1 {
  height: 45rem;
  width: 45rem;
  background-size: cover;
  background-position: center;
}

.leaderSection .happyTeam2 {
  height: 30rem;
  width: 42rem;
  background-size: cover;
  background-position: center;
  position: relative;
  left: -16rem;
  border-color: #fff;
  border-style: solid;
  border-width: 0.8rem;
}
