.footer {
  color: #fff;
  background-color: #9999;
  font-size: 1.3rem;
  letter-spacing: 0.5px;
  font-weight: 300;
}
.footerContainer {
  display: flex;
  gap: 5rem;
  justify-content: space-between;
  padding-top: 2.5rem;
  max-width: 80%;
  margin: 0 auto;
}
.footerCompany {
  width: 25rem;
}
.footerContactUs {
  width: 25rem;
}
.companyLogoImg {
  height: 5.5rem;
  width: 14rem;
}
.footerSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footerSectionHeader {
  color: #f26822;
  font-weight: 500;
  font-size: 1.7rem;
}
.footerLinks {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 0;
}
.footerLink a:visited,
.footerLink a:active,
.footerLink a:link,
.footerLink a:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.footerLinkedIn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f26822;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  color: #0077b5;
}

.copyright {
  margin-top: 1rem;
  border-top: 1px solid #fff;
  padding: 0.75rem 0;
  display: flex;
  justify-content: center;
}
